body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    margin-top: 100px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.content {
    display: flex;
    justify-content: space-between;
}

form {
    width: 45%;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.table-container {
    width: 50%;
}

#resultTable, #futureValueTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#resultTable th, #resultTable td, #futureValueTable th, #futureValueTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#resultTable th, #futureValueTable th {
    background-color: #007bff;
    color: #fff;
}

#cashflowCell.positive {
    color: green;
}

#cashflowCell.negative {
    color: red;
}

#totalMonthlyCostBeforeLoanCell.positive {
    color: green;
}

#totalMonthlyCostBeforeLoanCell.negative {
    color: red;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
